@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #f2f3f7;
    max-width: 100vw;
    overflow-x: hidden;
    color: #707070;
}

/* HEADER & NAVIGATION */
nav {
    height: 80px;
    background-color: transparent;
    transition: 0.3s ease background-color;
}
    nav .nav-brand-div {
        height: 80px;
        width: 120px;
        margin-left: 5%;
    }
        nav .nav-brand-div .navbar-brand{
            height: 80px;
            width: 120px;
            max-width: 120px;
        }
            nav .nav-brand-div #logo {
                height: 80px;
            }

                nav .nav-brand-div #logo svg:hover .st0 {
                    stroke: #ffffff;
                }
                nav .nav-brand-div #logo svg:hover .st1 {
                    fill: #ffffff;
                }


    nav .navbar-nav{
        margin-right: 5%;
        text-transform: uppercase;
        font-weight: 500;
        gap: 15px;
    }
        nav .navbar-nav li a{
            color: #000000;
            text-decoration: none;
        }
            nav .navbar-nav li a:hover{
                color: #ffffff;
            }
            nav .navbar-nav li a.active{
                color: #f79957;
                font-weight: 700;
            }
                nav .navbar-nav li a.active:hover{
                    color: #ffffff;
                }


header {
    height: 100vh;
}
header .hero-img-bg {
    background-image: url("../img/trapholt-museum-desktop.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    position: absolute;
} 

/* END OF HEADER & NAVIGATION */
















/* START OF FOOTER */
#footer {
    height: 25vh;
    width: 100vw;
    background-color: #506f65ee;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer-contact{
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#footer p{
    color: #ffffff;
}

#footer .social, #footer .contact, #footer .address{
    width: 100%;
}
#footer .footer-contact .social ul li{
    padding: 0 2rem;
}
#footer .footer-contact .social .list-inline{
    justify-content: center;
    display: flex;
    margin-left: -13vw;
}

#footer a{
    text-decoration: none;
    color: #ffffff;
}
  
  #footer a i:hover {
    color: #f79957;
  }

  #footer .social-item i {
    font-size: 1.9rem;
    padding: 0 0rem;
  }
/*     footer .newsletter {
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: 10vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
        footer .newsletter .newsletter-sign-up{
            width: 80%;
            border: 2px solid #ffffff;
            justify-content: space-between;
            align-items: center;
            display: flex;
            padding: 20px 10px;
        }
            footer .newsletter .newsletter-sign-up .sign-up{
                text-decoration: underline;
            } */

    footer .footer-contact {
        height: 20vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    footer .footer-contact .contact{
        text-align: left
    }
    #footer .footer-contact .address{
        text-align: right;
        margin-left: -17vw;

    }

/* END OF FOOTER */





@media only screen and (max-width: 990px) {
    nav {
        height: auto;
        
        background-color: #506f65!important;
    }
        nav .nav-brand-div {
            margin-left: 0%;
        }
        nav .navbar-nav {
            align-items: center;
        }
    
    header .hero-img-bg {
        background-image: url("../img/trapholt-museum.png");
        width: 100%;
        height: 100vh;
    } 



    #footer{
        height: 50vh;
        display: flex;
        flex-direction: row;
    }

    

    #footer .footer-contact .contact{
        order: 1;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 90vw;
    }
    #footer .footer-contact .flex-col .social{
        display: none;
    }
    #footer .footer-contact .address{
        order: 2;
    }
    #footer .social-item i {
        font-size: 1.5rem;
    }
    #footer .footer-contact .social ul li{
        padding: 0 1.5rem;
    }
    #footer .footer-contact .address{
        justify-content: center;
        display: flex;
        margin: 0;
        text-align: center;
    }
}